<% @page_title = "蔵書" %>

<h1><%= @page_title %></h1>

<%= form_tag :search_admin_books, method: :get do %>
<p><%= text_field_tag "q", params[:q] %>
<%= submit_tag "検索" %></p>
<% end %>

<p><%= link_to "蔵書の新規登録", :new_admin_book %></p>

<% if @books.present? %>
<table class="list">
  <tr>
    <th>本の名前</th>
    <th>著作者</th>
    <th>出版社</th>
    <th>操作</th>
	<th>本の賃貸</th>
  </tr>
  <% @books.each do |book| %>
  <tr>
    <td align="right"><%= link_to book.name ,[:admin, book]%></td>
    <td><%= book.full_name %></td>
    <td><%= book.publisher_name %></td>
    <td>
      <%= link_to "編集", [:edit, :admin, book] %> |
      <%= link_to "削除", [:admin, book], :method => :delete,
            :confirm => '本当に削除しますか?' %>
	<td><%= button_to 'Check Out', line_items_path(book_id: book) %></td>
    </td>
  </tr>
  <% end %>
</table>
<% else %>
<p>蔵書情報がありません。</p>
<% end %>
